.clear { clear: both; }
.hide { display:none; }
.flex { display: -webkit-flex; display: flex; }
.flex1 { flex: 1; }

#home { position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: flex; flex-direction: column; }
#home>.top { height: 60px; }
	.top .search-panel { }
	.top .profile-panel { width: 300px; }
	.top .profile-panel .profile_img { display: inline-block; width: 28px; height: 28px; background-color: #fff; background-image: url(../imgs/profile.jpg); background-size: 100%; vertical-align: middle; }
	.top .profile-panel .profile_name { display: inline-block; }
#home>.content { }
#home>.content>.list { flex: 2; min-width: 200px; }
#home>.content>.detail { }
#home>.bottom { height: 20px; }
#home>.popup { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.1); }

.menu-item.current { background-color: #deedff; }

.tasks { }

.task-line { border-bottom: solid 1px #ccc; height: 25px; line-height: 25px; padding: 5px 0; }
.task-line .left-bar { width: 20px; background-color: #eee; border-right: solid 1px #999; text-align: right; padding: 5px 5px 0 5px; margin: -5px 0; }
.task-line .sort { }
.task-line .hand { text-align:center; background-color: #fff; border-right: solid 1px #fff; display: none; cursor: move; }
.task-line.current .hand { display: block; }
.task-line:hover .hand { display: block; }
.task-line.current .sort { display: none; }
.task-line:hover .sort { display: none; }
.task-line .hand .icon-option-v { margin-left: -5px; width: 6px; text-align: center; }
.task-line .assignee { display: inline-block; width: 18px; height: 18px; background-color: #fff; background-image: url(../imgs/profile.jpg); background-size: 100%; vertical-align: middle; margin: 0 10px; }
.task-line .title { border: none; display: inline-block; outline: none; font-size: 16px; margin: 0 5px; }
.task-line .complete { margin: -3px 5px 0 10px; font-size: 20px; }
.task-line .go-detail { display: none; height: 25px; padding: 2px 12px; }
.task-line:hover .go-detail { display: block; }

.task-detail { }
.task-detail .panel { padding: 8px 6px; border-bottom: solid 1px #ccc; font-size: 14px; display: flex; }
.task-detail .panel-value { flex: 1; }
.task-detail .panel>.icon { width: 30px; font-size: 14px; text-align: center; }
.task-detail .title-panel { min-height: 20px;  }
.task-detail .title-panel .title { vertical-align: top; min-height: 18px; border: solid 1px transparent; resize: none; font-size: 18px; }
.task-detail .title-panel .title:hover, .title-panel .title:focus { border: solid 1px #ccc; }
.task-detail .description-panel { min-height: 20px;  }
.task-detail .description-panel .description { vertical-align: top; min-height: 18px; border: solid 1px transparent; }
.task-detail .description-panel .description:hover, .description-panel .description:focus { border: solid 1px #ccc; }
.task-detail .tag-panel { }
.task-detail .tag-panel .tag-list { display: inline-flex; }

.project-panel { border-bottom: solid 1px #ccc; }
.project-list .panel { border-bottom: none; }
.project-line .remove { display: none; height: 20px; padding: 0 12px; }
.project-line:hover .remove { display: block; }

/*.task-detail .comment-panel { display: block; }*/
/*.comment-panel .comment-head { width: 30px; }*/
.comment-panel .comment-post { }
.comment-panel .comment-input { display: block; width: 100%; }
.comment-panel .comment-btn { }

.task-detail .comment-list { margin-top: 5px; }
.comment-line { padding: 8px 0px; }
.comment-line .panel { border-bottom: none; padding: 0 6px; }
.comment-line .post-user-img { display: inline-block; width: 18px; height: 18px; background-color: #fff; background-image: url(../imgs/profile.jpg); background-size: 100%; }
.comment-line .post-time { font-size: 12px; color: #999; }
.comment-line .post-content { min-height: 20px; margin: 0; }

.tag-input { }
.new-tag { width: 100%; border: solid 1px transparent; }
.new-tag:focus, .new-tag:hover { border: solid 1px #ccc; }
.tag-line { border: solid 1px #ccc; padding: 2px 4px; background-color: #eee; display: inline-block; border-radius: 4px; line-height: 12px; margin-right: 10px; }
.tag-line .name { display: inline-block; font-size: 12px; }
.tag-line .icon-remove { vertical-align: -1px; }

.input-box-search { width: 300px; }
.input-box-search .icon-dropdown { width: 25px; line-height: 38px; text-align: center; }
.btn.btn-search { width: 70px; }

.btn.btn-normal { color: #333; background-color: #fff; border-color: #ccc; }
.btn.btn-normal:hover { color: #333; background-color: #e6e6e6; border-color: #adadad; }
.btn.btn-blue { color: #fff; background-color: #337ab7; border-color: #2e6da4; }
.btn.btn-blue:hover { color: #fff; background-color: #286090; border-color: #204d74; }
.btn.btn-green { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.btn.btn-green:hover { color: #fff; background-color: #449d44; border-color: #398439; }

/* icons */
@font-face {
	font-family: 'Glyphicons Regular';
	src:	url('../fonts/glyphicons-regular.eot') format('embedded-opentype'),
			url('../fonts/glyphicons-regular.woff2') format('woff2'),
			url('../fonts/glyphicons-regular.woff') format('woff'),
			url('../fonts/glyphicons-regular.ttf') format('truetype'),
			url('../fonts/glyphicons-regular.svg') format('svg');
}

.icon { display: inline-block; font-family: 'Glyphicons Regular'; }
.icon-dropdown:before { content: "\e602"; }
.icon-cog:before { content: "\e137"; }
.icon-remove:before { content: "\e208"; }
.icon-remove-circle:before { content: "\e198"; }
.icon-search:before { content: "\e028"; }
.icon-option-v:before { content: "\e518"; }
.icon-uncheck:before { content: "\e154"; }
.icon-check:before { content: "\e153"; }
.icon-task:before { content: "\e072"; }
.icon-tags:before { content: "\e067"; }
.icon-right:before { content: "\e224"; }
.icon-warning:before { content: "\e079"; }
.icon-chat:before { content: "\e246"; }
.icon-project:before { content: "\e030"; }

/* basic items */
.input {
	box-sizing: border-box;
	display: inline-block; height: 38px; padding: 6px 12px;
	font-size: 14px; line-height: 1.42; color: #555;
	background-color: #fff; background-image: none;
	border: 1px solid #ccc; border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn {
	display: inline-block; height: 38px; padding: 6px 12px;  font-size: 14px; font-weight: 400;
	text-align: center; white-space: nowrap; vertical-align: middle; outline: none;
	background-color: #fff; background-image: none; cursor: pointer;
	border: 1px solid transparent; border-radius: 4px; line-height: 1.42;

	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input-box {
	display: inline-flex; height: 36px;
	font-size: 14px; line-height: 1.42; color: #555;
	background-color: #fff; background-image: none;
	border: 1px solid #ccc; border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;	
}

.input-box .input {
	border: none; position: relative; box-shadow: none; flex: 1;
	background-color: transparent;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
			background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dialog { position: absolute; margin: 0 auto; top: 30%;	max-width: 30%;
	min-width: 350px; min-height: 200px; background: #fff;
	left: 0; right: 0; padding: 10px; box-shadow: 0 0 15px 5px #bbb;
	border: solid 1px #999; border-radius: 5px;
}
.dialog>.top { min-height: 30px; line-height: 30px; font-size: 18px; }
.dialog>.top .title { font-size: 20px; font-weight: bold; flex: 1; padding: 0; }
.dialog>.top .title-icon { font-weight: bold; margin-left: 10px; margin-right: 5px; }
.dialog>.bottom { height: 40px; margin-top: 10px; }
.dialog>.bottom .btn { float: right; margin-left: 8px; }
.dialog>.content { margin: 5px 0; padding: 5px 5px; min-height: 100px; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc }
